<h1>About</h1>
<p>
  TuneRice is a website made for anyone who drives or loves Hondas. You may talk and discuss using courtesy and civility. Anyone found to be creating disorder in the forum will be deleted from the website database.
</p>